            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <p class="site-title">
                    </p>
                    <p class="site-title">
                    </p>
                </div>

                <p class="footer-copyright">
                    <span>&copy; 2024 sonvuthai</a></span>
                </p>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
        {{ partial "extra-in-foot.html" . }}
    </body>
</html>
